@import 'global.scss';

ul{
    @include flex-justify-center; 
    list-style: none;
  
}
ul{
    li{
        height: 200px;
        width: 500px;
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        box-shadow: 1px 0px 24px -6px rgba(0,0,0,0.09);
        border-bottom: 5px solid $voll-color-light;
    }
}
